# 1. Pandas Basics

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
plt.style.use('ggplot')

> DataFrame is like a python dictionary

In [2]:
web_stats = { 'Day' : [1,2,3,4],
              'Visitors' : [43,53,34,45],
              'Bounce_rate' : [65,72,62,64]
            }
df = pd.DataFrame(web_stats)
df

   Bounce_rate  Day  Visitors
0           65    1        43
1           72    2        53
2           62    3        34
3           64    4        45

In [3]:
df.head(2)

   Bounce_rate  Day  Visitors
0           65    1        43
1           72    2        53

### Why do we have a index?

**How your data is related?** For example, time series data has time as index.

In [4]:
# setting index
df.set_index('Day')

     Bounce_rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45

**In-place operation**

In [5]:
df.set_index('Day',inplace=True)
df

     Bounce_rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45

### To reference a specific column

In [7]:
df['Visitors']

Day
1    43
2    53
3    34
4    45
Name: Visitors, dtype: int64

In [16]:
# also
df.Visitors

Day
1    43
2    53
3    34
4    45
Name: Visitors, dtype: int64

### Reference multiple columns

In [18]:
df[['Bounce_rate','Visitors']]

     Bounce_rate  Visitors
Day
1             65        43
2             72        53
3             62        34
4             64        45

### Convert DataFrame to list

In [19]:
df.Visitors.tolist()

[43, 53, 34, 45]

### Convert more than one column to a numpy array

In [20]:
import numpy as np
np.array(df[['Visitors', 'Bounce_rate']])

array([[43, 65],
       [53, 72],
       [34, 62],
       [45, 64]])

### Convert numpy array to DataFrame

In [21]:
pd.DataFrame(np.array([[1,2],[3,4]]))

   0  1
0  1  2
1  3  4

_____________________________________________________________________________________________